In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df =  pd.read_csv(r"https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep = "\t")

In [4]:
df.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [5]:
def remove_dollar(price):
    return price[1:]

In [6]:
chipo = df

In [7]:
chipo["item_price"] = chipo["item_price"].apply(lambda x : remove_dollar(x))

In [8]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [10]:
chipo["item_price"] = pd.to_numeric(chipo["item_price"])

In [11]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

## Q1 : How many products cost more than $10.00?

In [12]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [13]:
chipo["item_name"].unique()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

In [59]:
chipo["item_name"].replace("Chips and Tomatillo-Green Chili Salsa","Chips and Tomatillo Green Chili Salsa",inplace = True)

In [60]:
chipo["item_name"].unique()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl',
       'Steak Bowl', 'Barbacoa Soft Tacos', 'Veggie Burrito',
       'Veggie Bowl', 'Steak Crispy Tacos',
       'Chips and Tomatillo Red Chili Salsa', 'Barbacoa Crispy Tacos',
       'Veggie Salad Bowl', 'Chips and Roasted Chili Corn Salsa',
       'Carnitas Soft Tacos', 'Chicken Salad', 'Canned Soft Drink',
       'Steak Salad Bowl', '6 Pack Soft Drink', 'Bowl', 'Burrito',
       'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

In [61]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [62]:
chipo_filtered = chipo.drop_duplicates(['item_name','quantity','choice_description'])

In [63]:
chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1]

In [64]:
chipo_one_prod[chipo_one_prod["item_name"] == "Chicken Bowl"]

,order_id,quantity,item_name,choice_description,item_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",8.75
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",8.49
42,20,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.25
...,...,...,...,...,...
4540,1805,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",11.25
4553,1810,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Sour ...",11.25
4589,1825,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.25
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",8.75
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",8.75

In [65]:
avg_item_price = chipo_one_prod.groupby(by = "item_name")["item_price"].mean()

In [66]:
avg_item_price[round(avg_item_price) >= 10.00]

item_name
Barbacoa Bowl            10.227959
Barbacoa Burrito          9.979577
Barbacoa Crispy Tacos    10.171000
Barbacoa Salad Bowl      10.778889
Barbacoa Soft Tacos      10.380000
Carnitas Bowl            10.175000
Carnitas Burrito         10.036087
Carnitas Crispy Tacos     9.996667
Carnitas Salad Bowl      11.056667
Chicken Bowl              9.791562
Chicken Burrito           9.584597
Chicken Salad Bowl        9.811644
Steak Bowl               10.217651
Steak Burrito            10.059253
Steak Crispy Tacos        9.691429
Steak Salad Bowl         11.024615
Steak Soft Tacos          9.573333
Veggie Bowl               9.976000
Veggie Burrito            9.757931
Veggie Salad Bowl        10.000000
Name: item_price, dtype: float64

In [67]:
len(avg_item_price[round(avg_item_price) >= 10.00])

20

## Q2 : What is the price of each item?

In [87]:
chipo_one_prod.groupby(by = "item_name")["item_price"].mean()

item_name
6 Pack Soft Drink                         6.490000
Barbacoa Bowl                            10.227959
Barbacoa Burrito                          9.979577
Barbacoa Crispy Tacos                    10.171000
Barbacoa Salad Bowl                      10.778889
Barbacoa Soft Tacos                      10.380000
Bottled Water                             1.090000
Bowl                                      7.400000
Burrito                                   7.400000
Canned Soda                               1.090000
Canned Soft Drink                         1.250000
Carnitas Bowl                            10.175000
Carnitas Burrito                         10.036087
Carnitas Crispy Tacos                     9.996667
Carnitas Salad                            8.990000
Carnitas Salad Bowl                      11.056667
Carnitas Soft Tacos                       9.462143
Chicken Bowl                              9.791562
Chicken Burrito                           9.584597
Chicken Crispy Tacos                      9.447750
Chicken Salad                             9.158571
Chicken Salad Bowl                        9.811644
Chicken Soft Tacos                        9.239595
Chips                                     2.150000
Chips and Fresh Tomato Salsa              2.390000
Chips and Guacamole                       4.450000
Chips and Mild Fresh Tomato Salsa         3.000000
Chips and Roasted Chili Corn Salsa        2.390000
Chips and Tomatillo Green Chili Salsa     2.390000
Chips and Tomatillo Red Chili Salsa       2.950000
Crispy Tacos                              7.400000
Izze                                      3.390000
Nantucket Nectar                          3.390000
Salad                                     7.400000
Side of Chips                             1.690000
Steak Bowl                               10.217651
Steak Burrito                            10.059253
Steak Crispy Tacos                        9.691429
Steak Salad                               8.890000
Steak Salad Bowl                         11.024615
Steak Soft Tacos                          9.573333
Veggie Bowl                               9.976000
Veggie Burrito                            9.757931
Veggie Crispy Tacos                       8.490000
Veggie Salad                              8.490000
Veggie Salad Bowl                        10.000000
Veggie Soft Tacos                         9.496667
Name: item_price, dtype: float64

In [86]:
chipo_one_prod.groupby(by = "item_name",sort = True)["item_price"].mean()

item_name
6 Pack Soft Drink                         6.490000
Barbacoa Bowl                            10.227959
Barbacoa Burrito                          9.979577
Barbacoa Crispy Tacos                    10.171000
Barbacoa Salad Bowl                      10.778889
Barbacoa Soft Tacos                      10.380000
Bottled Water                             1.090000
Bowl                                      7.400000
Burrito                                   7.400000
Canned Soda                               1.090000
Canned Soft Drink                         1.250000
Carnitas Bowl                            10.175000
Carnitas Burrito                         10.036087
Carnitas Crispy Tacos                     9.996667
Carnitas Salad                            8.990000
Carnitas Salad Bowl                      11.056667
Carnitas Soft Tacos                       9.462143
Chicken Bowl                              9.791562
Chicken Burrito                           9.584597
Chicken Crispy Tacos                      9.447750
Chicken Salad                             9.158571
Chicken Salad Bowl                        9.811644
Chicken Soft Tacos                        9.239595
Chips                                     2.150000
Chips and Fresh Tomato Salsa              2.390000
Chips and Guacamole                       4.450000
Chips and Mild Fresh Tomato Salsa         3.000000
Chips and Roasted Chili Corn Salsa        2.390000
Chips and Tomatillo Green Chili Salsa     2.390000
Chips and Tomatillo Red Chili Salsa       2.950000
Crispy Tacos                              7.400000
Izze                                      3.390000
Nantucket Nectar                          3.390000
Salad                                     7.400000
Side of Chips                             1.690000
Steak Bowl                               10.217651
Steak Burrito                            10.059253
Steak Crispy Tacos                        9.691429
Steak Salad                               8.890000
Steak Salad Bowl                         11.024615
Steak Soft Tacos                          9.573333
Veggie Bowl                               9.976000
Veggie Burrito                            9.757931
Veggie Crispy Tacos                       8.490000
Veggie Salad                              8.490000
Veggie Salad Bowl                        10.000000
Veggie Soft Tacos                         9.496667
Name: item_price, dtype: float64

## Q3: What was the quantity of the most expensive item ordered?

In [92]:
chipo.sort_values(by = "item_price" , ascending = False)["quantity"][0:1]

3598    15
Name: quantity, dtype: int64

## Q4: How many times was a Veggie Salad Bowl ordered?

In [95]:
len(chipo[chipo["item_name"] == "Veggie Salad Bowl"])

18

## Q5: How many times did someone order more than one Canned Soda?

In [98]:
len(chipo[(chipo["item_name"] == "Canned Soda") & (chipo["quantity"] > 1)])

20